body {
    background: linear-gradient(to right, #64f38c, #f79d00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


* {
    margin: 0;
    padding: 0;
}

.header-logo {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    font-size: 2em;
}

#btnClear {
    width: 100%;
}

.list-group-item {
    cursor: pointer;
}